<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="MapInfo.Engine.Session.UseCallContext" value="false" />
    <add key="SqlConStr"  value="Data Source=localhost;Initial Catalog=db_equip;Persist Security Info=True;User ID=sa;Password=123456" />
  </appSettings>
</configuration>